doctype html
html
  head
    title Art Gallery
    link(href="css/artworks2.css" rel="stylesheet")
    
  body
    include ../partials/header
    br

    p.heading Gallery
    
    //- div
    //-     .img-box
    //-     img(src="https://picsum.photos/350/250?image=444" alt="")
    //-     .transparent-box
    //-       .caption
    //-         p Library
    //-         p.opacity-low Architect Design

    // TODO: 
    //-   take the links from the images turn it into a pug var
    //- then make a async function that take the link as an argument
    //- have the function load the image page into a mini section when pressed 
    //- look at the karthik tab has ai inspiration  

    .gallery-image     
        each artwork in artworks
          - var currentUrl = "/artworks/" + artwork._id
            a(href=currentUrl id=artwork._id onload='')
              div(class='img-box' id=artwork._id)
                img(src=artwork.Poster, alt='' )
                .transparent-box
                  .caption
                    p #{artwork.Title}
                    p.opacity-low #{artwork.Artist}
                    p.opacity-low Year: #{artwork.Year}
    //- a(href=currentUrl, target="_self" id=artwork._id onload='')
    script(src="js/artWorks.js")

   
