doctype html
html
  head
    title Art Gallery
    link(href="css/artworks2.css" rel="stylesheet")
    //- link(rel="stylesheet", href="css/artwork.css")

    
  body
    include ../partials/header
    br

    p.heading Gallery
    
    //- div
    //-     .img-box
    //-     img(src="https://picsum.photos/350/250?image=444" alt="")
    //-     .transparent-box
    //-       .caption
    //-         p Library
    //-         p.opacity-low Architect Design


    .gallery-image     
        each artwork in artworks
          - var currentUrl = "/artworks/" + artwork._id
            a(href=currentUrl target="_self" id=artwork._id onload='')
              div(class='img-box' id=artwork._id)
                  img(src=artwork.Poster, onerror='this.src = "images/imageLoadFailed.png"', alt='' )
                  .transparent-box
                    .caption
                      p #{artwork.Title}
                      p.opacity-low #{artwork.Artist}
                      p.opacity-low Year: #{artwork.Year}

    hr
    
    div.buttonContainer
      if current > 1
        - let url = "/artworks?page=" + (current-1)
        - if(qstring.length > 0){ url += "&" + qstring; }
          a(href=url) 
            button Previous 
      | 
      - url = "/artworks?page=" + (current+1)
      - if(qstring.length > 0){ url += "&" + qstring; }
        a(href=url) 
          button Next

    // TODO: 
    div#display-box 
      //- iframe(id="image-window" src="") 
      //- include artwork.pug(artwork=artwork, artist=artist)
    script(src="js/artWorks.js")
    //- script(src="js/artWork.js")

   
