html
  head
    title Store Manager
    link(rel="stylesheet", href="css/artwork.css") 
  body
    include ../partials/header
    br
    | Title: #{artwork.Title}
    br
    | ID in database: #{artwork._id}
    br
    | Artist:
    a(href="/artists/" + artist._id) #{artist.username}
    br

    // Hidden input field for artwork ID
    input(type="hidden", id="artworkId", value=artwork._id)

    br
    div.image
      div.inner
        img(src=artwork.Poster, alt=artwork.Title)
    br
    br
    button(type="button", id="Button", onclick="") like
    br
    if reviewable
        div(id="reviewSection")
            | Write your review:
            br
            textarea(id="reviewTextArea", rows="4", cols="50")
            br
            button(type="button", id="ReviewButton", onclick="reviewed()") Review

    p attach an event to the page size changing if less than minimum set fixed elemt dimensions else % based 

    div
      div#image-block 
        div.inner-block1
          img(src=artwork.Poster, alt=artwork.Title)  
           
        div.overlap-buttons
          div
            button(type="button", id="showDetailsButton", onclick="") Details
            br
            button(type="button", id="showReviewsButton", onclick="") Reviews
          
        
        div#overlap-container2
          div#details
              | Title: #{artwork.Title}
              br
              | ID in database: #{artwork._id}
              br
              | Artist:
              a(href="/artists/" + artist._id) #{artist.username}
              br
          div#reviews
          


  script(src="js/artWork.js")